<%= form_with(model: connection, local: true) do |form| %>
<fieldset>
  <legend><%= t(:recipe) %></legend>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :connection_title, disabled: true %>
  </div>
</fieldset>

<fieldset>
  <legend><%= t(:recipe) %></legend>
  
  <div class="field">
    <%= form.select(:child_id) do %>
      <% recipes = Recipe.order(title: :asc).map { |value| [value.title, value.id] } %>
      <%= options_for_select(recipes, selected: @connection.child_id) %>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <div class="actions">
    <%= form.submit t(:connection_save) %>
  </div>
</fieldset>
<% end %>
