<nav>
  <h4><%= @connection.title %></h4>
  <%= link_to t(:index), recipe_parts_path(anchor:  @connection.recipe.id) %> |
  <%= link_to t(:details),  @connection %>
</nav>

<article>

<%= form_with(model: @connection, local: true) do |form| %>
<fieldset>
  <legend><%= t(:connection) %></legend>
  
  <div class="field">
    <%= form.select(:child_id) do %>
      <% recipes = Recipe.order(title: :asc).map { |value| [value.title, value.id] } %>
      <%= options_for_select(recipes, selected: @connection.child_id) %>
    <% end %>
  </div>
</fieldset>

<fieldset id='amount'>
  <legend>Menge</legend>
  
  <div class="field">
    <%= form.number_field :scale, require: true, step: 0.01 %>
  </div>
</fieldset>

<fieldset>
  <div class="actions">
    <%= form.submit t(:connection_save) %>
  </div>
</fieldset>
<% end %>

</article>
