<article>
  <h2><%= t(:sign_in) %></h2>

  <%= form_for :session, url: session_path do |form| %>
  <fieldset>
    <legend><%= t(:credentials) %></legend>

    <div class='field'>
      <%= form.label :email do %>
        <%= t(:email) %>
      <% end %>
      <%= form.email_field :email, autofocus: true, require: true %>
    </div>

    <div class='field'>
      <%= form.label t(:password) %>
      <%= form.password_field :password, require: true %>
    </div>
  </fieldset>
  <fieldset>
    <div class='actions'>
      <%= form.submit t(:sign_in) %>
    </div>

  </fieldset>
  <% end %>
</article>
