<%= form_for(component) do |f| %>
<fieldset>
  <legend><%= t(:description) %></legend>
  <div class="field">
    <%= f.label t(:title) %>
    <%= f.text_field :title, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label t(:guidance) %>
    <%= f.text_area :description %>
  </div>
</fieldset>

<fieldset>
  <legend><%= t(:recipe) %></legend>
  <div class="field">
    <%= f.select(:recipe_id) do %>
      <% recipes = Recipe.order(created_at: :desc).map { |value| [value.title, value.id] } %>
      <%= options_for_select(recipes, selected: component.recipe_id) %>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <div class="actions">
    <%= f.submit t(:component_save) %>
  </div>
</fieldset>
<% end %>
