<nav>
  <h3><%= @component.recipe.title %></h3>
  <h4><%= @component.title %></h4>
  <%= link_to t(:index), components_path(anchor: @component.recipe.id) %>
  <%= link_to t(:details), @component %>
</nav>

<aside>
  <% if @component.errors.any? %>
  <section class='error'>
    <% @component.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t(:component_update) %> </h2>
  <%= render 'form', component: @component %>
</article>
