<nav>
  <%= link_to t(:new_component), new_component_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t :components %></h2>
  <% @recipes.each do |recipe| %>
  <section id='<%= recipe.id %>'>
    <h3 class='recipe'><%= recipe.title %></h3>
      <table>
        <tbody>
          <% recipe.components.order(:title).each do |component| %>
          <tr>
            <th><%= component.title %></th>
            <td><%= link_to 'Show', component_path(component) %></td>
            <td><%= link_to 'Edit', edit_component_path(component) %></td>
            <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</article>
