<nav>
  <%= link_to t(:index), recipe_parts_path(anchor: @component.recipe.id) %> |
  <%= link_to t(:edit), edit_recipe_part_path(@component.recipe_part) %> |
  <%= link_to t(:ingredient_new), new_component_ingredient_path(@component) %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>

  <section>
    <h3><%= @component.recipe.title %></h3>
    <h4><%= @component.title %></h4>
  </section>

  <section>
    <p><%= @component.description %></p>
  </section>
</aside>

<article>
  <h2>Ingredients</h2>
  <% @component.ingredients.order(unit: :desc, amount: :asc).each do |value| %>
    <section>
      <h3><%= value.title %></h3>
      <table>
        <tr>
          <th><% if product = value.adding %><%= link_to product.title, product_path(product.id), class: 'shop', title: "#{product.shop}, #{product.manufacturer}" %><% end %></th>
          <td><%= amount value.amount, value.unit %></td>
          <td><%= value.unit %></td>
          <td><%= link_to 'Edit', edit_component_ingredient_path(@component, value) %></td>
          <td><%= link_to 'Destroy', component_ingredient_path(@component, value), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </table>
    </section>
  <% end %>
</article>
