<%= form_for(source) do |f| %>
<fieldset>
  <legend><%= t(:description) %></legend>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, require: true %>
  </div>

</fieldset>
<fieldset>
  <legend><%= t(:recipe) %></legend>

  <div class="field">
    <%= f.select(:recipe_id) do %>
      <% recipes = Recipe.order(title: :asc).map { |value| [value.title, value.id] } %>
      <%= options_for_select(recipes, selected: source.recipe_id || Recipe.last.id) %>
    <% end %>
  </div>

</fieldset>
<fieldset>

  <div class="actions">
    <%= f.submit t(:source_save) %>
  </div>

</fieldset>
<% end %>
