<nav>
<%= link_to t(:new_source), new_source_path %> |
<%= link_to t(:list), list_sources_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t(:sources) %></h2>
  <% @recipes.each do |value| %>
    <% if value.sources.length > 0 %>
    <section>
      <h3 class='recipe'><%= value.title %></h3>
        <table>
        <% value.sources.each do |source| %>
          <tbody>
            <tr>
              <th><%= source.name %></th>
              <td><%= link_to 'Show', source %></td>
              <td><%= link_to 'Edit', edit_source_path(source) %></td>
              <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= value.all_tags %>
    </section>
    <% end %>
  <% end %>
</article>
