<nav>
  <%= link_to t(:new_source), new_source_path %>
  <%= link_to t(:list), list_sources_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t(:sources) %></h2>
  <%= will_paginate @recipes, inner_window: 2, outer_window: 0 %>
  <% @recipes.each do |value| %>
    <% if value.sources.length > 0 %>
    <section id='<%= value.id %>'>
      <h3 class='recipe'><%= value.title %></h3>
        <table>
        <% value.sources.each do |source| %>
          <tbody>
            <tr>
              <th><%= source.title %></th>
              <td><%= link_to 'Edit', edit_source_path(source) %></td>
              <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= value.all_tags %>
    </section>
    <% end %>
  <% end %>
  <%= will_paginate @recipes, inner_window: 2, outer_window: 0 %>
</article>
