<nav>
  <%= link_to t(:new_component), new_recipe_part_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t :components %></h2>

  <header class='last'>
    <div class='image'>
      <%= image_tag picture_recipe_path(@last.id) %>
    </div>
    <div class='description'>
      <h3><%= @last.title %></h3></center>
      <table>
        <tr>
          <td><%= link_to t(:show), recipe_path(@last) %></td>
          <td><%= link_to t(:edit), edit_recipe_path(@last) %></td>
          <td><%= link_to t(:destroy), @last, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </table>
      <p><%= @last.description %></p>
      <p><strong><%= t(:price) + ' ' + t(:per_serving) %>:</strong> <%= number_to_currency @last.price_per_serving %></p>
      <p><strong><%= t(:price) + ' ' + t(:in_total) %>:</strong> <%= number_to_currency @last.total %></p>
    </div>
  </header>

  <div class='search'>
    <%= form_tag recipe_parts_path, method: :get do %>
      <p>
        <!--
          not appropriate
          <%= text_field_tag :query, params[:query], placeholder: 'Suche nach Rezepten', autofocus: true, onchange: 'this.form.submit()' %>
        -->
        <%= text_field_tag :query, params[:query], placeholder: t(:search_term), autofocus: true %>
        <%= submit_tag t(:search), name: nil %>
      </p>
    <% end %>

    <%= will_paginate @recipes, inner_window: 2, outer_window: 0 %>
  </div>

  <% @recipes.each do |recipe| %>
  <section id='<%= recipe.id %>'>
    <h3 class='recipe'><%= recipe.title %></h3>
      <% recipe.recipe_parts.order(:title).each do |component| %>
      <table>
        <tr>
          <th><%= component.title %></th>
          <th><%= t(component.part_type.downcase) %></th>
          <% if component.part_type == 'Connection' %>
            <td><%= link_to 'Show', connection_path(component.part) %></td>
          <% else %>
            <td><%= link_to 'Show', component_path(component.part) %></td>
          <% end %>
          <td><%= link_to 'Edit', edit_recipe_part_path(component) %></td>
          <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </table>
      <% end %>
    </section>
  <% end %>
  <%= will_paginate @recipes, inner_window: 2, outer_window: 0 %>
</article>
