<%= form_for(recipe) do |form| %>
<fieldset>
  <legend><%= t :description %></legend>

  <div class="field">
    <%= form.label t(:title) %>
    <%= form.text_field :title, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= form.label t(:subtitle) %>
    <%= form.text_area :description, require: true %>
  </div>

</fieldset>
<fieldset>
  <legend><%= t :details %></legend>

  <div class="field">
    <%= form.label t(:serves) %>
    <%= form.number_field :serves %>
  </div>

  <div class="field">
    <%= form.label t(:made) %>
    <%= form.date_select :last %>
  </div>

  <div class="field">
    <%= form.label t(:publish) do %>
      <%= form.check_box :public %>
      <%= t(:publish) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label t(:embedded) do %>
      <%= form.check_box :embedded %>
      <%= t(:embedded) %>
    <% end %>
  </div>

</fieldset>
<fieldset>

  <div class="field">
    <%= form.file_field :picture, accept: 'image/jpeg', multiple: false %>
  </div>

</fieldset>
<fieldset>
  <legend><%= t(:tags) %></legend>

  <div class="field">
    <%= form.text_field :all_tags, placeholder: t(:tags_desc) %> 
  </div>

</fieldset>
<fieldset>

  <div class="actions">
    <%= form.submit t(:recipe_save) %>
  </div>

</fieldset>
<% end %>
