<%= form_for(recipe) do |f| %>
<fieldset>

  <div class="field">
    <%= f.label t(:title) %>
    <%= f.text_field :title, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label t(:description) %>
    <%= f.text_area :description, require: true %>
  </div>

</fieldset>
<fieldset>

  <div class="field">
    <%= f.label t(:serves) %>
    <%= f.number_field :serves %>
  </div>

  <div class="field">
    <%= f.label t(:made) %>
    <%= f.date_select :last %>
  </div>

</fieldset>
<fieldset>

  <div class="field">
    <%= f.file_field :picture, accept: 'image/jpeg', multiple: false %>
  </div>

</fieldset>
<fieldset>
  <legend><%= t(:tags) %></legend>

  <div class="field">
    <%= f.text_field :all_tags, placeholder: t(:tags_desc) %> 
  </div>

</fieldset>
<fieldset>

  <div class="actions">
    <%= f.submit t(:recipe_save) %>
  </div>

</fieldset>
<% end %>
