<nav>
  <h3><%= @recipe.title %></h3>
  <%= link_to t(:index), recipes_path(anchor: @recipe.id) %>
  <%= link_to t(:details), @recipe %>
</nav>

<aside>
  <% if @recipe.errors.any? %>
  <section class='error'>
    <% @recipe.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
  </section>
  <% end %>
  <section>
    <%= image_tag picture_recipe_path(@recipe.id) %>
  </section>
</aside>

<article>
  <h2>Editing Recipe</h2>
  <%= render 'form', recipe: @recipe %>
</article>
