<!DOCTYPE html>
  <head>
    <title><%= @recipe.title %></title>
    <style>
      * { font-family: verdana; font-size: 12px; margin: 0px; padding: 0px; }
      fieldset legend { font-weight: bold; padding-left: 5px; padding-right: 5px; }
      #description { border-bottom: 1px solid #000; padding: 5px; }
      #image { vertical-align: top; }
      #amount { text-align: right; padding-right: 2px; }
      img.image { width: 200px; padding-right: 10px; }
      @media (max-width: 500px) {
        img.image { width: 120px; }
      }
      table { padding: 5px; }
      p { padding: 5px; }
      .level {
        border: 1px solid #f0f0f0;
        background-color: #fbfbfb;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <fieldset>
      <legend><%= @recipe.title %></legend>
      <p id='description'><%= @recipe.description %></p>
      <table>
        <tr>
          <td id='image'><%= image_tag picture_recipe_path(@recipe.id), class: 'image' %></td>
          <td>
            <% @recipe.recipe_parts.order(title: :asc).each do |component| %>
              <% if component.part_type == 'Connection' %>
                <h3><%= component.title %> x <%= amount component.part.scale, 'TL' %></h3>
                <% if component.description.size > 0 %><p><%= component.description %></p><% end %>
                <% if component.part.child.embedded? %>
                  <%= render 'level', recipe: component.part.child %>
                <% elsif component.part.child.public? %>
                  <p><%= link_to(t(:click), { action: 'embedded', controller: 'recipes', id: component.part.child.id, only_path: false }, { target: '_blank' }) %></p>
                <% else %>
                  <p>Selber machen oder kaufen.</p>
                <% end %>
              <% else %>
                <h3><%= component.title %></h3>
                <table>
                  <% component.part.ingredients.order(unit: :desc, amount: :asc).each do |ingredient| %>
                  <tr>
                    <td id='amount'><%= amount ingredient.amount, ingredient.unit %> <%= ingredient.unit %></td>
                    <td><%= ingredient.title %></td>
                  </tr>
                  <% end %>
                </table>
                <%= markdown(component.description.to_s) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </fieldset>
  </body>
