<nav>
  <%= link_to t(:new_recipe), new_recipe_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>

  <section class='cloud'>
    <div class='cloud'>
      <% @cloud.each do |value| %>
        <%= image_tag picture_recipe_path(value.id), title: value.title %>
      <% end %>
    </div>
  </section>
</aside>

<article>
  <h2><%= t :recipes %></h2>

  <header class='last'>
    <div class='image'>
      <%= image_tag picture_recipe_path(@last.id) %>
    </div>
    <div class='description'>
      <div>
        <h3><%= @last.title %></h3>
        <table>
          <tr>
            <td><%= link_to t(:show), recipe_path(@last) %></td>
            <td><%= link_to t(:edit), edit_recipe_path(@last) %></td>
            <td><%= link_to t(:destroy), @last, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </table>
        <p><%= @last.description %></p>
        <p><strong><%= t(:price) + ' ' + t(:per_serving) %>:</strong> <%= number_to_currency @last.price_per_serving %></p>
        <p><strong><%= t(:price) + ' ' + t(:in_total) %>:</strong> <%= number_to_currency @last.total %></p>
      </div>
    </div>
  </header>

  <div style='clear:both'></div>

  <div class='search'>
    <%= form_tag recipes_path, method: :get do %>
      <p>
        <!--
          not appropriate
          <%= text_field_tag :query, params[:query], placeholder: 'Suche nach Rezepten', autofocus: true, onchange: 'this.form.submit()' %>
        -->
        <%= text_field_tag :query, params[:query], placeholder: t(:search_term), autofocus: true %>
        <%= submit_tag t(:search), name: nil %>
      </p>
    <% end %>

    <%= will_paginate @recipes, inner_window: 2, outer_window: 0 %>
  </div>

  <% @recipes.each do |recipe| %>
    <section id='<%= recipe.id %>'>
      <h3 class='recipe'><%= recipe.title %></h3>
      <table>
        <tbody>
          <tr>
            <th></th>
            <td><%= link_to 'Show', recipe_path(recipe) %></td>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tbody>
      </table>
    </section>
  <% end %>
  <%= will_paginate @recipes, inner_window: 2, outer_window: 0 %>
</article>
