<nav>
  <%= link_to t(:new_recipe), new_recipe_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>

  <section>
  <div id='kitcat'>
  <% @ids.each do |id| %>
    <%= image_tag url_for(controller: "recipes", action: "show_picture", id: id) %>
  <% end %>
  </div>
  </section>
</aside>

<article>
  <h2><%= t :recipes %></h2>
  <% @recipes.each do |recipe| %>
    <section>
      <h3 class='recipe'><%= recipe.title%></h3>
      <table>
        <tbody>
          <tr>
            <th></th>
            <td><%= link_to 'Show', recipe_path(recipe) %></td>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tbody>
      </table>
    </section>
  <% end %>
</article>
