<nav>
  <%= link_to t(:index), recipes_path(anchor: @recipe.id) %> |
  <%= link_to t(:edit), edit_recipe_path(@recipe) %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>

  <section>
    <%= image_tag picture_recipe_path(@recipe.id) %>
  </section>
  
  <% @recipe.recipe_parts.order(title: :asc).each do |component| %>
  <section>
  <% if component.part_type == 'Connection' %>
    <h3><%= component.title %></h3>
  <% else %>
    <h3><%= component.title %></h3>
    <table>
    <% component.part.ingredients.order(unit: :desc, amount: :asc).each do |ingredient| %>
      <tr>
        <td><%= amount ingredient.amount, ingredient.unit %> <%= ingredient.unit %></td>
        <td><%= ingredient.title %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
  </section>
  <% end %>

  <% if @recipe.public? %>
  <section>
    <textarea><iframe style='width:100%;height:500px;' src='<%= url_for(action: 'embedded', controller: 'recipes', only_path: false) %>' frameborder='0'> </iframe></textarea>
  <% end %>
  </section>
</aside>

<article>
  <h2><%= @recipe.title %></h2>

  <header>
    <h2><%= @recipe.title %></h2>
    <p><strong><%= t(:made) %>:</strong> <%= @recipe.last %></p>
    <p><strong><%= t(:serves) %>:</strong> <%= @recipe.serves %></p>
    <p><strong><%= t(:price) + ' ' + t(:per_serving) %>:</strong> <%= number_to_currency @recipe.price_per_serving %></p>
    <p><strong><%= t(:price) + ' ' + t(:in_total) %>:</strong> <%= number_to_currency @recipe.total %></p>
    <p id='description'><%= @recipe.description %></p>
  </header>

  <section class='body'>
    <% @recipe.recipe_parts.order(title: :asc).each do |component| %>
      <% if component.part_type == 'Connection' %>
        <h3><%= component.title %> x <%= amount component.part.scale, 'TL' %></h3>
        <p><%= markdown(component.description.to_s) + ' ' + link_to('Hier geht es zum Rezept', recipe_path(component.part.child.id)) %></p>
      <% else %>

        <% unless component.description.to_s.empty? %>
          <h3><%= component.title  %></h3>
          <p><%= markdown(component.description) %></p>
        <% end %>

      <% end %>
    <% end %>
  </section>

  <footer>
    <h3>Quellen</h3>
    <% @recipe.sources.each do |source| %>
      <p><a href='<%= source.url %>'><%= source.title %></a></p>
      <div class='print'>
        <span>- <%= source.url %></span>
        <br />
      </div>
    <% end %>
  </footer>
</article>
