<p id="notice"><%= notice %></p>

<h1>Seasonnings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seasonnings.each do |seasonning| %>
      <tr>
        <td><%= seasonning.title %></td>
        <td><%= seasonning.amount %></td>
        <td><%= seasonning.price %></td>
        <td><%= link_to 'Show', seasonning %></td>
        <td><%= link_to 'Edit', edit_seasonning_path(seasonning) %></td>
        <td><%= link_to 'Destroy', seasonning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seasonning', new_seasonning_path %>
