<%= form_for([@component, @ingredient]) do |f| %>
<fieldset>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.125, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit, require: true %>
  </div>

</fieldset>
<fieldset>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, require: true %>
  </div>

</fieldset>
<fieldset>

  <div class="field">
    <%= f.select(:uid) do %>
    <% veggis = Vegetable.order(title: :asc).map { |value| [value.title, "Vegetable#{value.id}"] } %>
    <% products = Product.order(title: :asc).map { |value| [value.title, "Product#{value.id}"] } %>
    <% types = grouped_options = [[t(:vegetables), veggis], [t(:products), products]] %>
    <%= grouped_options_for_select(types, selected: "#{ingredient.adding_type}#{ingredient.adding_id}") %>
    <% end %>
  </div>

</fieldset>
<fieldset>

  <div class="actions">
    <%= f.submit t(:ingredient_save) %>
  </div>

</fieldset>

<% end %>
