<%= form_for([@component, @ingredient]) do |f| %>
<fieldset>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.125, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit, require: true %>
  </div>

</fieldset>
<fieldset>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, require: true %>
  </div>

</fieldset>
<fieldset>

  <div class="field">
    <%= f.select(:product_id) do %>
    <% products = Product.order(title: :asc).map { |value| [value.title, value.id] } %>
    <%= options_for_select(products, selected: ingredient.product_id) %>
    <% end %>
  </div>

</fieldset>
<fieldset>

  <div class="actions">
    <%= f.submit t(:ingredient_save) %>
  </div>

</fieldset>
<% end %>
