<nav>
  <h3><%= @ingredient.component.recipe.title %></h3>
  <h4><%= @ingredient.component.title %></h4>
  <%= link_to t(:index), recipe_parts_path(anchor: @component.recipe.id) %>
  <%= link_to t(:details), @component %>
</nav>

<aside>
  <% if @ingredient.errors.any? %>
  <section class='error'>
    <% @ingredient.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
  </section>
  <% end %>

  <section>
    <p><%= @ingredient.component.recipe.title %> <strong>serves
    <%= @ingredient.component.recipe.serves %> persons</strong>.</p>
  </section>
</aside>

<article>
  <h2>Editing Ingredient</h2>
  <%= render 'form', ingredient: @ingredient %>
</article>
