<nav>
  <h3><%= @ingredient.component.recipe.title %></h3>
  <h4><%= @ingredient.component.title %></h4>
  <%= link_to t(:index), components_path(anchor: @component.recipe.id) %> |
  <%= link_to t(:details), @component %>
</nav>

<aside>
  <% if @ingredient.errors.any? %>
  <section class='error'>
    <% @ingredient.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
  </section>
  <% end %>
</aside>

<article>
  <h2>New Ingredient</h2>
  <%= render 'form', ingredient: @ingredient %>
</article>


