<%= form_with(model: vegetable, local: true) do |form| %>

  <fieldset>
    <legend><%= t :description %></legend>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, require: true, autofocus: true %>
    </div>

  </fieldset>
  <fieldset>
    <legend>Preis pro kg</legend>

    <div class="field">
      <%= form.label t(:price) + ' (€)' %>
      <%= form.number_field :price, require: true, step: 0.01 %>
    </div>

  </fieldset>
  <fieldset>

    <div class="actions">
      <%= form.submit t :save %>
    </div>

  </fieldset>

<% end %>
