<nav>
  <%= link_to 'New Vegetable', new_vegetable_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t :vegetables %></h2>
  <table>
    <tbody>
    <% @vegetables.each do |vegetable| %>
      <tr id='<%= vegetable.id %>' class='change'>
        <th><%= vegetable.title %></th>
        <th class='right'><%= number_to_currency vegetable.price %>/kg</th>
        <td><%= link_to 'Edit', edit_vegetable_path(vegetable) %></td>
        <td><%= link_to 'Destroy', vegetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</article>
