<aside>
  <% if @user.errors.any? %>
  <section class='error'>
    <% @user.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
      </ul>
  </section>
  <% end %>

  <% if alert %>
  <section class='alert'>
    <p id='alert'><%= alert %></p>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t(:user_update) %></h2>

  <%= form_for [:admin, @user], url: update_nick_admin_user_path do |f| %>
  <fieldset>
    <legend>Personalia</legend>

    <div class="field">
      <%= f.label :nick %>
      <%= f.text_field :nick, autofocus: true, require: true %>
    </div>
    <div class="actions">
      <%= f.submit t(:update_settings) %>
    </div>

  </fieldset>
  <% end %>

  <%= form_for [:admin, @user], url: update_email_admin_user_path do |f| %>
  <fieldset>
    <legend>Contact</legend>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: @user.email, require: true %>
    </div>
    <div class="field">
      <%= f.label :email_confirmation %>
      <%= f.email_field :email_confirmation, require: true %>
    </div>
    <div class="actions">
      <%= f.submit t(:update_email) %>
    </div>

  </fieldset>
  <% end %>

  <%= form_for [:admin, @user], url: update_password_admin_user_path  do |f| %>
  <fieldset>
    <legend>Security</legend>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: '********', require: true %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, require: true %>
    </div>
    <div class="actions">
      <%= f.submit t(:update_password) %>
    </div>

  </fieldset>
  <% end %>

</article>
