<%= form_for(product) do |f| %>

  <fieldset>
    <legend><%= t(:product_info) %></legend>

    <div class="field">
      <%= f.label t(:manufacturer) %>
      <%= f.text_field :manufacturer, require: true %>
    </div>

    <div class="field">
      <%= f.label t(:shop) %>
      <%= f.text_field :shop, require: true %>
    </div>

    <div class="field">
      <%= f.label t(:code) %>
      <%= f.text_field :code %>
    </div>

    <div class="field">
      <%= f.label t(:title) %>
      <%= f.text_field :title, autofocus: true, require: true %>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t(:details) %></legend>

    <div class="field">
      <%= f.label t(:liquid) do %>
        <%= f.radio_button :liquid, true %>
        <%= t(:liquid) %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label t(:solid) do %>
        <%= f.radio_button :liquid, false, checked: (!product.liquid) %>
        <%= t(:solid) %>
      <% end %>
    </div>

    <div class="field">
      <% unit = if product.liquid then 'ml' else 'g' end %>
      <%= f.label t(:amount) do %>
        <%= t(:amount) %> (<span class='unit'><%= unit %></span>)
      <% end %>
      <%= f.number_field :amount, require: true %>
    </div>

    <div class="field">
      <%= f.label t(:price) do %>
        <%= t(:price) %> (€)
      <% end %>
      <%= f.number_field :price, require: true, step: 0.01 %>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t(:nutritionals) %> / 100 <span class='unit'><%= unit %></span></legend>

    <div class="field">
      <%= f.label :energy do %>
        <%= t(:energy) %> (J)
      <% end %>
      <%= f.number_field :energy %>
    </div>

    <div class="field">
      <%= f.label :fat_total do %>
        <%= t(:fat) %> (g)
      <% end %>
      <%= f.number_field :fat_total, step: 0.1 %>
    </div>

    <div class="field">
      <%= f.label :fat_saturated do %>
        <%= t(:fat_saturated) %> (g)
      <% end %>
      <%= f.number_field :fat_saturated, step: 0.1 %>
    </div>

    <div class="field">
      <%= f.label :carbohydrate do %>
        <%= t(:carbohydrates) %> (g)
      <% end %>
      <%= f.number_field :carbohydrate, step: 0.1 %>
    </div>

    <div class="field">
      <%= f.label :sugar do %>
        <%= t(:sugar) %> (g)
      <% end %>
      <%= f.number_field :sugar, step: 0.1 %>
    </div>

    <div class="field">
      <%= f.label :fiber do %>
        <%= t(:fibres) %> (g)
      <% end %>
      <%= f.number_field :fiber, step: 0.1 %>
    </div>

    <div class="field">
      <%= f.label :protein do %>
        <%= t(:protein) %> (g)
      <% end %>
      <%= f.number_field :protein, step: 0.1 %>
    </div>

    <div class="field">
      <%= f.label :natrium do %>
        <%= t(:salt) %> (mg)
      <% end %>
      <%= f.number_field :natrium, step: 0.01 %>
    </div>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit t(:product_save) %>
    </div>
  </fieldset>
<% end %>
