<nav>
  <h3><%= @product.title %></h3>
  <%= link_to t(:index), products_path(anchor: @product.id) %> |
  <%= link_to t(:details), @product %>
</nav>

<aside>
  <% if @product.errors.any? %>
  <section class='error'>
    <% @product.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
      </ul>
  </section>
  <% end %>
</aside>

<article>
  <h2>Editing Product</h2>
  <%= render 'form', product: @product %>
</article>
