<nav>
  <%= link_to 'New Product', new_product_path %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t :products %></h2>
    <table>
      <tbody>
      <% @products.order(title: :asc).each do |product| %>
        <tr class='change'>
          <th><%= product.title %></th>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</article>
