<% unit = if @product.liquid then 'ml' else 'g' end %>

<nav>
  <%= link_to t(:index), products_path(anchor: @product.id) %> |
  <%= link_to t(:edit), edit_product_path(@product) %>
</nav>

<aside>
  <% if notice %>
  <section class='notice'>
    <p id="notice"><%= notice %></p>
  </section>
  <% end %>
</aside>

<article class='product'>
<section>
  <h2><%= @product.title %></h2>
  <h3><%= @product.manufacturer %></h3>
  <p><%= @product.shop %>: <%= @product.code %></p>
  </section>
  <section>
    <table>
      <tr>
        <th>Menge:</th>
        <td><%= @product.amount %></td>
        <td><%= unit %></td>
      </tr>
      <tr>
        <th>Preis:</th>
        <td><%= number_to_human @product.price %></td>
        <td><%= t :currency_text %></td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Nährwerte / 100 <%= unit %></h3>
    <table>
      <tr class='change nutritional'>
        <th>Brennwert:</th>
        <td><%= number @product.energy %></td>
        <td>J</td>
      </tr>
      <tr class='change nutritional'>
        <th>Fett:</th>
        <td><%= number @product.fat_total %></td>
        <td>g</td>
      </tr>
      <tr class='change nutritional'>
        <th>- davon gesättigte Fettsäuren:</th>
        <td><%= number @product.fat_saturated %></td>
        <td>g</td>
      </tr>
      <tr class='change nutritional'>
        <th>Kohlenhydrate:</th>
        <td><%= number @product.carbohydrate%></td>
        <td>g</td>
      </tr>
      <tr class='change nutritional'>
        <th>- davon Zucker:</th>
        <td><%= number @product.sugar %></td>
        <td>g</td>
      </tr>
      <tr class='change nutritional'>
        <th>Ballaststoffe:</th>
        <td><%= number @product.fiber %></td>
        <td>g</td>
      </tr>
      <tr class='change nutritional'>
        <th>Eiweiß:</th>
        <td><%= number @product.protein %></td>
        <td>g</td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Vitamine / 100 <%= unit %></h3>
    <table>
      <tr class='change vitamin'>
        <th>Vitamin A</th>
        <th>Retinol</th>
        <td><%= @product.a %></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin B1</th>
        <th>Thiamin</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin B2</th>
        <th>Riboflavin</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin B3</th>
        <th>Nicotinsäure (Niacin)</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin B5</th>
        <th>Pantothensäure</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin B6</th>
        <th>Pyridoxalphosphat</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin B9</th>
        <th>Folsäure</th>
        <td><%= @product.b9 %></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin B12</th>
        <th>Cobalamin</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin C</th>
        <th>Ascorbinsäure</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin D2</th>
        <th>Ergocalciferol</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin D3</th>
        <th>Cholecalciferol</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin E</th>
        <th>Tocopherol</th>
        <td></td>
        <td>ug</td>
      </tr>
      <tr class='change vitamin'>
        <th>Vitamin H:</th>
        <th>Biotin</th>
        <td></td>
        <td>ug</td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Mineralien / 100 <%= unit %></h3>
    <table>
      <tr class='change mineral'>
        <th>Natrium:</th>
        <td><%= number @product.natrium %></td>
        <td>mg</td>
      </tr>
      <tr class='change mineral'>
        <th>Kalium:</th>
        <td><%= number @product.potassium %></td>
        <td>mg</td>
      </tr>
      <tr class='change mineral'>
        <th>Magnesium:</th>
        <td><%= number @product.magnesium %></td>
        <td>mg</td>
      </tr>
      <tr class='change mineral'>
        <th>Calcium:</th>
        <td><%= number @product.calcium %></td>
        <td>mg</td>
      </tr>
    </table>
  </section>
</article>
