<!DOCTYPE html>
<html>
  <head>
    <title>Cooking</title>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='360'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='dish'></div>
    <div id='fork'></div>
    <div id='oneway'></div>
    <header>
      <h1>Manuels Rezepte</h1>
      <ul>
        <% if signed_in? %>
        <li><%= link_to 'Administration', admin_root_path %></li> |
        <li class='space'><%= link_to "Sign out", logout_session_path %></li>
        <li><%= link_to "Products", products_path %></li> |
        <li><%= link_to "Recipes", recipes_path %></li> |
        <li><%= link_to "Components", components_path %></li> |
        <li><%= link_to "Sources", sources_path %></li>
        <% else %>
        <li class='space'><%= link_to "Sign in", new_session_path %></li>
        <li><%= link_to "Products", products_path %></li> |
        <li><%= link_to "Recipes", recipes_path %></li> |
        <li><%= link_to "Components", components_path %></li> |
        <li><%= link_to "Sources", sources_path %></li>
      <% end %>
      </ul>
    </header>
    <div id='container'><%= yield %></div>
    <footer></footer>
  </body>
</html>
